body{
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

#site-form{
    width: 50%;
    margin: 0 auto;
}

#site-form h1{
    text-align: center;
}

.helptext, li{
    display: none;
}

.button{
    text-align: center;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #aaafbd;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}